#ignore everything
*

#but not this files and folders
!LICENSE
!.gitignore
!.gitmodules

!/.backup
!/.backup/*
#not ignore .config
!/.config
#ignore .config/*
/.config/*

 
!/.config/mpv
/.config/mpv/*
!/.config/mpv/input.conf
!/.config/mpv/mpv.conf


!/.config/qutebrowser
/.config/qutebrowser/*
!/.config/qutebrowser/autoconfig.yml

!/.config/lazygit
!/.config/lazygit/*
/.config/lazygit/state.yml

!/.config/gtk-3.0
!/.config/gtk-3.0/*
 
 

 
!/.config/ncmpcpp
!/.config/ncmpcpp/*
 
!/.config/neofetch
!/.config/neofetch/*
 
 
!/.config/nvim
!/.config/nvim/*
!/.config/nvim/PlugIns
!/.config/nvim/PlugIns/*
!/.config/nvim/UltiSnips
!/.config/nvim/UltiSnips/*
 
 
!/.config/wget
!/.config/wget/*
 
!/.config/X11
!/.config/X11/*
 
 
!/.config/zathura
!/.config/zathura/*
 
!/.config/zsh
!/.config/zsh/*
 
!/.config/mimeapps.list
!/.config/pavucontrol.ini

 
#not ignore .local
!/.local
#ignore .local/*
/.local/*

!/.local/bin
!/.local/bin/*
!/.local/bin/statusbar
!/.local/bin/statusbar/*
 
!/.local/src
!/.local/src/cfiles
!/.local/src/cfiles/*
!/.local/src/dwm
!/.local/src/dwm/*
!/.local/src/dmenu
!/.local/src/dmenu/*
!/.local/src/dwmblocks
!/.local/src/dwmblocks/*
!/.local/src/st
!/.local/src/st/*

 
!/images
!/images/*
!/images/background
!/images/background/*
!/images/leftbg
!/images/leftbg/*
!/images/rightbg
!/images/rightbg/*
