
snippet info
# Fecha: `date +%d/%B/%Y\ -\ %A`
# Autor: Virgilio Murillo Ochoa
# personal github: Virgilio-AI
# linkedin: https://www.linkedin.com/in/virgilio-murillo-ochoa-b29b59203
# contact: virgiliomurilloochoa1@gmail.com
endsnippet

snippet subm
[submodule "${1:path}"]
	path = ${1:path}
	url = git@github.com:${2:url}
$3
endsnippet
