snippet cen
\begin{center}
	$1
\end{center}
$2
endsnippet
snippet sec
\begin{section}{$1}
	$2
\end{section}
endsnippet
snippet subsec
\begin{subsection}{$1}
	$2
\end{subsection}
endsnippet
snippet numlist
\begin{enumerate}
	$1
\end{enumerate}
endsnippet 

snippet list
\begin{itemize}
	$1
\end{itemize}
endsnippet 
snippet charsize
\begin{$1}
	$2
\end{$1}
endsnippet
snippet code
\begin{minted}{$1}
	$2
\end{minted}
endsnippet
snippet image
\includegraphics{$1}
$2
endsnippet

